@import "components";

@media screen and (max-width: 1320px) {
  .container {
    margin: 0 20px;
  }
}


@media screen and (max-width: 1156px) {
  .hero {
    .hero__content {
      .hero__content-greeting {
        max-width: 400px;
      }

      .hero__content-description {
        max-width: 400px;
        margin-top: 80px;
      }
    }

    .hero__banner {
      top: 140px;
    }

    .svg-size {
      width: 600px;
      height: auto;
    }

  }
}

@media screen and (max-width: 860px) {
  .hero {
    .hero__content {
      max-width: 349px;
      margin-top: 0;

      .hero__content-description {
        margin-top: 20px;
      }

      .social_icon {
        margin-top: 30px;
      }
    }

    .hero__banner {
      top: 100px;
    }

    .svg-size {
      width: 600px;
      height: auto;
    }

  }
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 750px) {
  .hero {
    flex-direction: column-reverse;

    .hero__content {
      margin: 0 auto;

      .hero__content-greeting {
        margin-top: 68px;
      }

      .hero__content-description {
        margin-top: 20px;
      }

      .social_icon {
        margin-top: 30px;
      }
    }

    .hero__banner {
      position: static;
      margin: 0 auto;
    }

    .svg-size {
      width: 400px;
      height: auto;
    }

  }
}

@media (max-width: 440px) {
  .hero {
padding: 40px 0;
    .hero__content {

      .hero__content-greeting {
        margin-top: 28px;
      }

      .hero__content-title {
        font-size: $font-size-title-small;
      }

    }

    .svg-size {
      width: 330px;
      height: auto;
    }

  }
}