/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}



.container {
  max-width: 1280px;
  margin: 0 auto;
}

@font-face {
  font-family: 'Sora-Regular';
  src: url('../../src/assets/fonts/Sora-Regular.ttf');
}

@font-face {
  font-family: 'Sora-Bold';
  src: url('../../src/assets/fonts/Sora-Bold.ttf');
}

@font-face {
  font-family: 'Sora-ExtraBold';
  src: url('../../src/assets/fonts/Sora-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Sora-SemiBold';
  src: url('../../src/assets/fonts/Sora-SemiBold.ttf');
}

$font-basic: 'Sora-Regular', sans-serif;
$font-title: 'Sora-ExtraBold', sans-serif;
$font-subtitle: 'Sora-Bold', sans-serif;
$font-nav: 'Sora-SemiBold', sans-serif;

$font-size-basic: 16px;
$font-size-title: 48px;
$font-size-title-small: 28px;
$font-size-subtitle: 32px;
$font-size-subtitle-small: 20px;
$font-size-nav: 20px;

$color-red: #E70012;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #71717A;

body {
  font-family: $font-basic;
  font-size: $font-size-basic;
  color: $color-grey;
}